.daily-information-page {
  .nav-link.active {
    color: #000000;
    background: #ffffff;
  }

  .tab-body {
    background: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .data-view-switch-btn-group {
    .active {
      box-shadow: 0 0 0 0.2rem rgba(38, 156, 227, 0.5)
    }
  }

  .react-datepicker__input-container {
    input {
      width: 100%;
      text-align: center;
      cursor: pointer;
    }

    // :hover {
    //   outline: -webkit-focus-ring-color auto 1px;
    //   outline-offset: -2px;
    // }
  }

  .daily-information-table {
    thead th {
      vertical-align: middle;
      position: sticky;
      top: 0;
      background: #ffffff;
    }
    thead .row-2 th {
      top: 28px !important;
    }
    tbody:nth-of-type(1) tr:nth-of-type(1) td {
      border-top: none !important;
    }
    thead th {
      border-top: none !important;
      border-bottom: none !important;
      box-shadow: inset 0 2px 0 #dee2e6,
                  inset 0 -2px 0 #dee2e6;
      padding: 2px 0;
    }
    thead th {
        background-clip: padding-box
    }
  }

  .data-wrapper {
    min-height: calc(100vh - 180px);
    height: calc(100vh - 180px);
    position: relative;

    svg {
      width: 100%;
      height: 100%;
    }

    .chart-wrapper {
      // width: calc(100% - 1.5rem);
      min-height: calc(100vh - 280px);
      height: calc(100vh - 280px);
    }

    .loading-wrapper {
      background-color: #5d5d5ddd;
      z-index: 5;
      min-height: calc(100vh - 180px);
      height: calc(100vh - 180px);
      top: 0;
      position: absolute;
      border-radius: 5px;

      .loading-ani {
        height: 100px !important;
        position: absolute;
        top: calc(50% - 70px);
      }

      .loading-text {
        width: 100%;
        position: absolute;
        top: calc(50% + 30px);
        color: #ffffff;
      }
    }
  }
}